html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.outer {
    padding-left: 20%;
    padding-right: 20%;
}

.dark {
    background-color: #1f2937;
    color: #f9faf8;
}

#hero #main {
    font: 48px extra bold;
    padding-left: 0px;
}

#hero #secondary {
    font-size: 18px;
    color: #e5e7eb;
    padding-left: 0px;
    padding-bottom: 10px;
}

#signup {
    background-color: #3882f6;
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    font-weight: bold;
    text-align: center;
    width: 100px;
}

#title {
    font-size: 24px;
}

.flex-h {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-h div {
    flex: 1 1 0%;
}

#calltoaction {
    color: white;
    background-color: #3882f6;
}

.centertext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero {
    padding-top: 100px;
    padding-bottom: 100px;
}

#left {
    padding-right: 50px;
}

#right {
    /* This will be replaced with an appropriate image */
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
}

#infoheader {
    color: #1F2937;
    font: 36px extra-bold;
    padding-top: 30px;
    padding-bottom: 30px;
}

.gallery {
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    padding-bottom: 10px;
}

.pic {
    border: 3px solid #3882f6;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.pic-container {
    width: 120px;
    padding: 10px;
}

.quote {
    font: 36px light italic;
    color: #1F2937;
}

.grey {
    background-color: #E5E7EB;
}

.spacing {
    padding-top: 100px;
    padding-bottom: 100px;
}

#quoteowner {
    font: bold;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}

.calltoaction {
    background-color: #3882f6;
    color: #f9faf8;
    margin-top: 100px;
    margin-bottom: 100px;
}

.calltoactheader {
    font: 24px bold;
}

.button {
    border: 3px solid white;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    padding: 5px;
    justify-content: center;
}

.buttoncontainer {
    padding: 20px;
    display: flex;
    align-items: center;
}

.calltoactflex {
    display: flex;
    flex-direction: row;
    flex: 1 2 10px;
    flex-flow: row-reverse;
}

.textcontainer {
    padding: 20px;
    flex-grow: 1;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}